<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >


    <test name="Test1">
        <classes>
           <class name="Homepage.Setup"/>
             <class name="Homepage.BookSessionSection.BookSessionSectionTest"/>
             <class name="Homepage.ApprovedByOfficialsSection.ApprovedByOfficialsSectionTest"/>
             <class name="Homepage.EliteSpecialistsSection.EliteSpecialistsSectionTest"/>
             <class name="Homepage.BeneficiaryDataSection.BeneficiaryDataSectionTest"/>
             <class name="Homepage.FromProblemToSolution.FromProblemToSolutionTest"/>
             <class name="Homepage.FromTheBlogSection.FromTheBlogSectionTest"/>
             <class name="Homepage.JoinACommunity.JoinACommunityTest"/>
             <class name="Homepage.DownSection.DownSectionTest"/>
            <class name="Homepage.HeaderMenuNavigation.HeaderMenuNavigationTest"/>





        </classes>
    </test>
</suite>
